/*T_E_L_E_F_O_N_O*/
@media screen and (min-width:360px) {
    /*F_O_O_T_E_R*/
.footer{
    background: linear-gradient(to right, rgb(97, 67, 133), rgb(81, 99, 149));
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*footer__ropdape*/
.footer__rodape{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: white;
    text-shadow: 10px 7.5px 7px black;
}
}

/*D_E_S_K_T_O_P Y T_A_B_L_E_T*/
@media screen and (min-width:768px) {
    /*F_O_O_T_E_R*/
.footer{
    background: linear-gradient(to right, rgb(97, 67, 133), rgb(81, 99, 149));
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*footer__ropdape*/
.footer__rodape{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: white;
    text-shadow: 10px 7.5px 7px black;
}
}
