/*container flex flex--column flex--center*/
.wrapper-cabecera{
    width: 80%;
    background: linear-gradient(to right, rgb(97, 67, 133), rgb(81, 99, 149));
    height: 13rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*wrapper-cabecera-span*/
.wrapper-cabecera-span{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to right, rgb(240, 100, 25), rgb(237, 222, 93));
}



/*wrapper-imagen*/
.wrapper-imagen{
    width: 80%;
    background: linear-gradient(to right, rgb(97, 67, 133), rgb(81, 99, 149));
    height: 25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*wrapper-imagen-principal*/
.wrapper-imagen-principal{
    background-color: white;
    width: 70%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
}

/*wrapper-imagen-img*/
.wrapper-imagen-img{
    width: 7rem;
    height: 7rem;
    background-color: white;
}

/*wrapper-imagen-titulo*/
.wrapper-imagen-titulo{
    width: 100%;
    height: 7rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    letter-spacing: 0.1rem;
    font-size: x-large;
    text-align: center;
}


/*wrapper-imagen-button*/
.wrapper-imagen-zonaButon{
    width: 100%;
    height: 7rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

/*wrapper-imagen-zonaButton-button*/
.wrapper-imagen-zonaButton-button{
    width: 40%;
    height: 3rem;
    background-color:#0071ea;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    color: white;
    font-size: mediun;
    font-family: 'Montserrat';
}