
/*T_E_L_E_F_O_N_O*/
@media screen and (min-width:360px) {

    /*GALERIAS*/
    .galerias {
        background-color: #dfe3f5;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /*STAR WARS*/
    .starWars {
        background-color: rgb(229, 178, 24);
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .starWars__wrapper {
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }

    .starWars__wrapper__titulo {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        padding: 1rem 0rem;
    }

    .starWars__titulo{
        width:50%;
        color: #464646;
        font-size: large;
        font-weight: bold;
        font-family: 'Taoma';
    }

    .starWars__wrapper__titulo__icono{
        width:50%;
       display:flex;
        flex-direction:row;
       align-items:center;
        justify-content:flex-end;
        background-color: #e1e9eb;
    }

    .starWars__titulo__icono{
        width:35%;
        color: blue;
        font-weight: bold;
        font-size: small;
        font-family: 'Normal';
    }

    /*starWars__titulo__icono__link*/
    .starWars__titulo__icono__link {
        background-color: #223094;
        color: white;
        padding: 15px 25px;
        text-decoration: none;
        border: 0.2rem solid #223094;
        border-radius: 0.3rem;
        margin: 0.5rem 0 0.5rem 0;
        font-weight: lighter;
    }
    .starWars__titulo__icono__link:hover {
        background-color: #223094;
        border: 0;
    }
    
    .starWars__galeria {
        background-color: rgb(0, 191, 255);
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .starWars__galeria__box {
        background-color: antiquewhite;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .starWars__galeria__box__ocultar{
        display: none;
    }

    .starWars__galeria__box__lista {
        background-color: white;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .starWars__galeria__box__lista__item-imagen {
        width: 100%;
        background-color: white;
        height: auto;
    }

    .tarWars__galeria__box__lista__item-imagen__tamaño {
        width: 90%;
        background-color: rebeccapurple;
        padding-bottom: 0.2rem;
    }

    .starWars__galeria__box__lista__item-titulo>h3 {
        width: 100%;
        font-size: medium;
        margin: 0.3rem 0;
        
    }

    .starWars__galeria__box__lista__item-tsubtitulo>h3 {
        width: 100%;
        font-size: medium;
        font-weight: bold;
        margin: 0.3rem 0;
    }

    .starWars__galeria__box__lista__item-link {
        width: 100%;
        font-size: medium;
        font-weight: bold;
        font-family: 'Normal';
    }

}

/*T_A_B_L_E_T*/
@media screen and (min-width:768px) {

    /*GALERIAS*/
    .galerias {
        background-color: rgb(107, 200, 13);
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 68rem;
    }

    /*STAR WARS*/
    .starWars {
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 55rem;
    }

    /*starWars__wrapper*/
    .starWars__wrapper {
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 20rem;
    }

    /*starWars__wrapper__titulo*/
    .starWars__wrapper__titulo {
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    /*Titulo*/
    .starWars__titulo {
        color: #464646;
        font-size: xx-large;
        font-weight: bold;
        font-family: 'Taoma';
        width: 50%;
    }

    /*starWars__wrapper__titulo__icono*/
    .starWars__wrapper__titulo__icono {
        width: 50%;
        background-color: #e1e9eb;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    /*starWars__titulo__icono*/
    .starWars__titulo__icono {
        color: blue;
        font-weight: bold;
        font-size: larger;
        font-family: 'Normal';
         width:25%;
    }

    /*starWars__titulo__icono__link*/
    .starWars__titulo__icono__link {
        background-color: #223094;
        color: white;
        padding: 15px 25px;
        text-decoration: none;
        border: 0.2rem solid #223094;
        border-radius: 0.3rem;
        margin: 0.5rem 0 0.5rem 0;
        font-weight: lighter;
    }
    .starWars__titulo__icono__link:hover {
        background-color: #223094;
        border: 0;
    }

    /*Galeria*/
    .starWars__galeria {
        width: 100%;
        background-color: white;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
    }

    /*caja*/
    .starWars__galeria__box {
        height: auto;
        background-color: white;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }

    /*caja oculta*/
    .starWars__galeria__box__ocultar {
        display: none;
    }

    /*lista*/
    .starWars__galeria__box__lista {
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    /*item imagen*/
    .starWars__galeria__box__lista__item-imagen {
        background-color: blueviolet;
        width: 90%;
        height: auto;
    }

    /*tamaño imagen*/
    .tarWars__galeria__box__lista__item-imagen__tamaño {
        width: 100%;

    }

    /*item titulo*/
    .starWars__galeria__box__lista__item-titulo>h3 {
        font-size: large;
        margin: 0.5rem 0;
    }

    /*item subtitulo*/
    .starWars__galeria__box__lista__item-tsubtitulo>h3 {
        font-size: larger;
        font-weight: bold;
        margin: 0.5rem 0;
    }

    /*item link*/
    .starWars__galeria__box__lista__item-link {
        font-size: x-large;
        font-weight: bold;
        font-family: 'Normal';
    }
}

/*D_E_S_K_T_O_P*/
@media screen and (min-width:769px) {

    /*GALERIAS*/
    .galerias {
        background-color: rgb(125, 234, 15);
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* height: 56rem; */
        height: 65rem;
    }

    /*STAR WARS*/
    .starWars {
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 30rem;
        /* height: 17rem; */

    }

    /*starWars__wrapper*/
    .starWars__wrapper {
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        /* height: 17rem; */
    }

    /*starWars__wrapper__titulo*/
    .starWars__wrapper__titulo {
        background-color:white;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /*Titulo*/
    .starWars__titulo {
        color: #464646;
        font-size: xx-large;
        font-weight: bold;
        font-family: 'Taoma';
        width: 55%;
    }

    /*starWars__wrapper__titulo__icono*/
    .starWars__wrapper__titulo__icono {
        width: 45%;
        background-color: #e1e9eb;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;
    }

    .starWars__titulo__icono {
        color: blue;
        font-weight: bold;
        font-size: large;
        font-family: 'Normal';
    }

    /*starWars__titulo__icono__link*/
    .starWars__titulo__icono__link {
        background-color: #223094;
        color: white;
        padding: 15px 25px;
        text-decoration: none;
        border: 0.2rem solid #223094;
        border-radius: 0.3rem;
        margin: 0.5rem 0 0.5rem 0;
        font-weight: lighter;
    }

    .starWars__titulo__icono__link:hover {
        background-color: #223094;
        border: 0;
    }

    /*Galeria*/
    .starWars__galeria {
        width: 100%;
        background-color: rgb(243, 246, 240);
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
    }

    /*caja*/
    .starWars__galeria__box {
        height: auto;
        background-color: antiquewhite;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }

    /*lista*/
    .starWars__galeria__box__lista {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    /*item imagen*/
    .starWars__galeria__box__lista__item-imagen {
        background-color: blueviolet;
        width: 90%;
        height: auto;
    }

    /*tamaño imagen*/
    .tarWars__galeria__box__lista__item-imagen__tamaño {
        width: 100%;
    }

    /*item titulo*/
    .starWars__galeria__box__lista__item-titulo>h3 {
        font-size: large;
        margin: 0.5rem 0;
    }

    /*item subtitulo*/
    .starWars__galeria__box__lista__item-tsubtitulo>h3 {
        font-size: x-large;
        font-weight: bold;
        margin: 0.5rem 0;
    }

    /*item link*/
    .starWars__galeria__box__lista__item-link {
        font-size: x-large;
        font-weight: bold;
        font-family: 'Normal';
    }
}