/*T_E_L_E_F_O_N_O*/
@media screen and (min-width:360px) {
    /*MENU*/
    .menu {
        width: 80%;
        background: linear-gradient(to right, rgb(97, 67, 133), rgb(81, 99, 149));
        display: flex;
        justify-content: space-around;
        height: 10rem;
        align-items: center;
    }

    /*Encabezado*/
    .menu__encabezado {
        width: 40%;
        height: 2.5rem;
        background-color: orange;
        display: flex;
        align-items: center;
    }

    .menu__encabezado__enlace{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .menu__icono {
        width: 20%;
        height: auto;
    }
    .menu__imagen {
        width: 50%;
        height: auto;
    }

    /*Navegador*/
    .menu__navegador {
        width: 60%;
        background-color: yellow;
        display: flex;
        align-items: center;
    }

    .menu__navegador__form {
        width: 100%;
        height: 2.5rem;
        background-color: #199319;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
    }

    .menu__navegador__form__wrapper {
        position: relative;
        width: 30%;
    }

    .menu__navegador__form__wrapper__input {
        box-sizing: border-box;
        color: #191919;
        height: 2.5rem;
        width: 100%;
        border-radius: 0.5rem;
        background-color: #F5F5F5;
        border:none;
        padding: 0 0.2rem;
    }
    .menu__navegador__form__wrapper__input::placeholder{
        color: transparent;
    }

    .menu__navegador__form__wrapper__icon {
        color: #191919;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 1rem;
        top: 1rem;
        transform: translateY(-10%);
        color: black;
    }

    .menu__navegador__form__button {
        background-color: white;
        color: #223094;
        padding: 0.1rem;
        text-decoration: none;
        border: 0.2rem solid #223094;
        border-radius: 0.3rem;
        margin: 2rem 0 2rem 0;
        font-weight: lighter;
        font-size: medium;
        cursor: pointer;
        width: 70%;
        text-align: center;
    }

    .menu__navegador__form__button:hover {
        background-color: #223094;
        border: 0;
        ;
        color: white;
        transition: 1000ms;
    }
}

/*T_A_B_L_E_T*/
@media screen and (min-width:768px) {
    /*MENU*/
    .menu {
        width: 80%;
        background: linear-gradient(to right, rgb(97, 67, 133), rgb(81, 99, 149));
        display: flex;
        justify-content: space-around;
        height: 10rem;
        align-items: center;
    }

    /*Encabezado*/
    .menu__encabezado {
        width: 20%;
        height: 2.5rem;
        background-color: orange;
        display: flex;
        align-items: center;
    }

    .menu__encabezado__enlace{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .menu__icono {
        width: 20%;
        height: auto;
    }
    .menu__imagen {
        width: 50%;
        height: auto;
    }

    /*Navegador*/
    .menu__navegador {
        width: 70%;
        background-color: yellow;
        display: flex;
        align-items: center;
    }

    .menu__navegador__form {
        width: 100%;
        height: 2.5rem;
        background: linear-gradient(to right, rgb(97, 67, 133), rgb(81, 99, 149));
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .menu__navegador__form__wrapper {
        position: relative;
        width: 51%;
    }

    .menu__navegador__form__wrapper__input {
        box-sizing: border-box;
        color: #191919;
        height: 2.5rem;
        width: 100%;
        border-radius: 0.5rem;
        background-color: #F5F5F5;
        border-color: #F5F5F5;
        padding: 0 0.2rem;
    }

    .menu__navegador__form__wrapper__icon {
        color: #191919;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 1rem;
        top: 1rem;
        transform: translateY(-10%);
        color: #A2A2A2;
    }

    .menu__navegador__form__button {
        background-color: white;
        color: #223094;
        padding: 0.3rem;
        text-decoration: none;
        border: 0.2rem solid #223094;
        border-radius: 0.3rem;
        margin: 2rem 0 2rem 0;
        font-weight: lighter;
        font-size: medium;
        cursor: pointer;
        width: 30%;
        text-align: center;
    }

    .menu__navegador__form__button:hover {
        background-color: #223094;
        border: 0;
        ;
        color: white;
        transition: 1000ms;
    }
}

/*D_E_S_K_T_O_P*/
@media screen and (min-width:769px) {
    /*MENU*/
    .menu {
        width: 80%;
        background: linear-gradient(to right, rgb(97, 67, 133), rgb(81, 99, 149));
        display: flex;
        justify-content: flex-start;
        height: 10rem;
        align-items: center;
    }

    /*Encabezado*/
    .menu__encabezado {
        width: 25%;
        height: 2.5rem;
        background: linear-gradient(to right, rgb(240, 100, 25), rgb(237, 222, 93));
        display: flex;
        align-items: center;
    }

    .menu__encabezado__enlace{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .menu__icono {
        width: 20%;
        height: auto;
    }
    .menu__imagen {
        width: 50%;
        height: auto;
    }

    /*Navegador*/
    .menu__navegador {
        width: 75%;
        background-color: yellow;
        display: flex;
        align-items: center;
    }

    .menu__navegador__form {
        width: 100%;
        height: 2.5rem;
        background: linear-gradient(to right, rgb(97, 67, 133), rgb(81, 99, 149));
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .menu__navegador__form__wrapper {
        position: relative;
        width: 60%;
    }

    .menu__navegador__form__wrapper__input {
        box-sizing: border-box;
        color: #191919;
        height: 2.5rem;
        width: 100%;
        border-radius: 0.5rem;
        background-color: #F5F5F5;
        border-color: #F5F5F5;
        padding: 0 0.2rem;
    }

    .menu__navegador__form__wrapper__icon {
        color: #191919;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 1rem;
        top: 1rem;
        transform: translateY(-10%);
        color: #A2A2A2;
    }

    .menu__navegador__form__button {
        background-color: white;
        color: #223094;
        padding: 0.5rem;
        text-decoration: none;
        border: 0.2rem solid #223094;
        border-radius: 0.3rem;
        margin: 2rem 0 2rem 0;
        font-weight: lighter;
        font-size: small;
        cursor: pointer;
        width: 20%;
    }

    .menu__navegador__form__button:hover {
        background-color: #223094;
        border: 0;
        ;
        color: white;
        transition: 1000ms;
    }
}